* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

body {
    background-color: rgb(193, 133, 250);
}

main {
    background-color: aliceblue;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
img.lado {
    float: right;
}

img.centro{
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
}